<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/adminpanel">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin Jishnu</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard --> 
    <li class="nav-item active">
        <a class="nav-link" href="/admin/adminpanel">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->

    
    <li i class="nav-item">
      <a class="nav-link collapsed" href="/admin/adminorders" data-toggle="" data-target=""
            aria-expanded="" aria-controls="">
            <i class="fas fa-fw fa-cog"></i>
            <span>Orders</span>
        </a>

        <a class="nav-link collapsed" href="/admin/adminusers" data-toggle="" data-target=""
        aria-expanded="" aria-controls="">
        <i class="fas fa-fw fa-cog"></i>
        <span>Users</span>
    </a>
      

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Books</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              
                <a class="collapse-item" href="/admin/adminbooks">Book Management</a>

                <a class="collapse-item" href="/admin/admingenres">Genre Management</a>
         
            </div>
    
        </div>
        <a class="nav-link collapsed" href="/admin/admincoupons" data-toggle="" data-target=""
        aria-expanded="" aria-controls="">
        <i class="fas fa-fw fa-cog"></i>
        <span>Coupons</span>
    </a>

    <a class="nav-link collapsed" href="/admin/adminoffermodule" data-toggle="" data-target=""
    aria-expanded="" aria-controls="">
    <i class="fas fa-fw fa-cog"></i>
    <span>Offer module</span>
</a>
        
    </li> 


</ul>