<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Glassmorphism Login</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
 
</head>
<body>
<!-- partial:index.partial.html -->
<body>
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
                <h1 class="opacity">LOGIN</h1>
           
                <form method="post" action="/admin/adminlogin">
    
                    <input name="username" type="text" placeholder="USERNAME"  required />
                    <input name="password" type="password" placeholder="PASSWORD" required />
                    <p style="color: rgb(255, 255, 255); background-color: red; text-align: center;" class="logout text-danger text-center bg-danger mt-5 "><%= errorMessage %></p>
                    <button class="opacity">SUBMIT</button>
                </form>
                
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
</body>
<!-- partial -->
<script src="/js/adminlogin.js"></script>

</body>
</html>
